snippet ext "extern crate"
extern crate ${1}
endsnippet

snippet pr, "print!"
print!("${1}", ${2});
endsnippet

snippet plv "println! variable"
println!("${1}: {}", ${1});
endsnippet

snippet pln "println!" s
println!("${1}"`!p
if "{}" in t[1]:
	snip += ", ${2}"
`);
endsnippet

snippet fmt "format!"
format!("${1}", ${2});
endsnippet
