snippet var.
	var ${1:a} = $1.${2}
snippet proto
	${1:Object}.prototype.${2:method} = function(${3}) {
		${4}
	};
snippet fn
	function ${1:func} (${2}) {
		${3}
	}
snippet fni
	function (${1}) { ${3} }${2:)}
snippet cb
	function (er, ${1:data}) {
		${3}
	}${2:)}
snippet if
	if (${1}) ${2}
snippet ?
	${1:cond} ? ${2:true} : ${3:false}
snippet for
	for (var ${2:i} = 0; $2 < ${1:items}.length; $2${3:++}) {
		${4:$1[$2]}
	}
snippet :fn
	${1:method}: function(${2}) {
		${4}
	}${3:,}
